<form asp-action="Login" method="post">
   <input type="hidden" name="ReturnUrl" value="@Context.Request.Query["ReturnUrl"].ToString()" />
   <button type="submit" class="btn btn-sm btn-primary">Logar</button>
</form>